
.siyox {
    width: 634px;
    height: 478px;
    background-color: #2A254B;

}

.yozuvv{
    width: 495px;
    height: 99px;
    box-sizing: border-box;
    padding-left: 64px;
    padding-right: 72px;
    padding-top: 64px;
}

.kotta {
    font-size: 32px;
    color: white;
}

.kichik {
    font-size: 18px;
    color: white;
}



.bilmadim {
    display: flex;
    gap: 16px;
    margin-top: 60px;
}

.dashed {
    border-bottom: 1px dashed gray;
    margin-top: 40px;
}
.bg-img{
background-image: url(https://fastly.picsum.photos/id/417/1440/444.jpg?blur=5&hmac=gjj5DKJfg815Bcv80H4zrW1w95CCMTrO4pkEM6EVSKA);
height: 444px;
background-size: cover;
background-repeat: no-repeat;
}
.bbb{
text-align: center;
line-height: 45px;
}
.bbb-h1{
font-size: 18px;}
.bbb-div{
    box-sizing: border-box;
    padding-top: 59px;
font-size: 32px;
}
.bbb-div2{
    display: flex;
    gap: 36px;
    padding-left: 445px;
}
.inpp1{
width: 354px;
height: 56px;
background-color: #f9f9f9;
}
.inpp2{
text-align: center;
width: 118px;
height: 56px;
background-color: #2A254B;
}
.inpp{
display: flex;
margin-left: 410px;
}
.finaly{
    justify-content: space-around;
   gap: none;
    height: 380px;
    background-color:#2a254b;
}
.text-white{
font-size: 14px;
}
.inpp3{
    width: 509px;
    height: 56px;
    background-color: #4a4666;
    }
    .inpp5{
        text-align: center;
        width: 118px;
        height: 56px;
        background-color: #f9f9f9;
        }
        .ushaa{
        display: flex;
        box-sizing: border-box;
        padding: 58px;
          width: 1440px;
        justify-content: space-around;
        }
        .left{
        display: flex;
        gap: 130px;
        
        
        }
        .finalyy{
        background-color: #2A254B;
        }
        .cap{
        padding: 24px 80px;
        }