.background{
    background-image: url(https://fastly.picsum.photos/id/866/1440/704.jpg?hmac=eDd3BSGRVkKI5vEROdkd8reEKP5X6rWzuooJuUrnKqo);
    border: 2px solid rgb(255, 255, 255);
    width: 1440px;
    height: 704px;
    margin-top: 20px
}

.ichi{
    margin: 730px;
    margin-top: 130px;

    width: 630px;
    height: 444px;
    background-color: #fff;
}

.ichi2{
    margin-top: 48px;
    margin-left: 56px;

    width: 513px;
    height: 137px;
}

.smalltext{
    margin-top: 20px;
    color: #726e8d;
}

.button1{
    margin-top: 157px;
}

.ortasi{
    margin-top: 80px;
    margin-left: 529px;
}

.big{
   
    width: 1440px;
    height: 476px;
}
