

.cards{
    background-color: #f9f9f9;

    width: 209px;
    height: 149px;
    margin-top: 48px;
    margin-left: 48px;
}

.cards2 {
    background-color: #f9f9f9;
    width: 305px;
    height: 244px;
    margin-top: 36px;

}

.ttt{
    color: #2a254b;
    margin-top: 12px;
}

.kkk{
    display: flex;
    justify-content: space-around;

}

.images{
   
    width: 1440px;
    height: 634px;
    gap: 20px;
}

.images2{
    
    width: 305px;
    height: 462px;

}

.mmm{
    gap: 24px;
    margin-top: 28px;
    margin-left: 80px;
    display: flex;
}

.widthh{
    margin-top: 24px;
}

.ee {
    margin-top: 8px;
}