
a{
    text-decoration: none;
}
.text{
    margin-top: 20px;
    display: flex;
    gap: 44px;
    grid-auto-columns: auto auto auto auto auto auto;
    justify-content: center;
    cursor: pointer;
    color: #726e8d;
}